<section id="about">
  <div class="title-section">
    <div>À propos</div>
  </div>

  <div>
    <p>
      Développeur Web <span class="about-green">Front-End</span> à Lille, passionné par la galaxie JavaScript.
      <br>
      <br>
      <span class="about-green">Langages :</span> HTML5, CSS3/SASS, JS/TypeScript, PHP, SQL, Ruby
      <br>
      <span class="about-green">Frameworks :</span> Ionic2, Cordova, Angular2, AngularJS, Polymer, NodeJS, jQuery / Ajax, UI Bootstrap, GWT, Codeigniter,
      Ruby on Rails
      <br>
      <span class="about-green">SGBD :</span> MySQL
      <br>
      <span class="about-green">Outils :</span> Eclipse, Visual Studio Code, Suite Adobe, GIT, Méthode Agile
      <br>
    </p>
  </div>


</section>