<section id="home" class="home">
  <div class="home-area-table">
    <div class="home-area-tablecell">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="home-text text-center">
              <h1>
                <typewriter [contents]="contents" [cursor]="'|'" [cursorDelay]="1000"  (afterDone)="onDone($event)"></typewriter>
              </h1>
              <h2 *ngIf="isDone" class="typer-title">
                <typewriter [contents]="contents2" [cursor]="'|'" [cursorDelay]="-1" ></typewriter>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>