/* You can add global styles to this file, and also import other style files */
.bg-dark {
    background-color: #009966 !important;
}

.title-section {
    display: block;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.title-section div {
    position: relative;
    display: inline-block;
    margin: 0;
    padding-bottom: 0.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: capitalize;
}

.title-section div:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 4px;
    width: 50px;
    height: 2px;
    background-color: #009966;
}